@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 33 44% 92%;
    --foreground: 222.2 99% 22.9%;

    --card: 33 77% 97%;
    --card-foreground: 222.2 84% 40%;
 
    --popover: 0 99% 3%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 333.2 77% 50%;
    --primary-foreground: 33 77% 97%;
 
    --secondary: 344, 88%, 80%;
    --secondary-foreground: 222.2 47.4% 7.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 220.4 20.3% 44.9%;
 
    --accent: 33 77% 97%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 33.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}